<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>People</title>
</head>
<body>

<h1>People list</h1>
<div th:each="person : ${people}">
    <a th:href="@{/people/{id}(id=${person.getId()})}" th:text="${person.getFullName()}">user</a>
</div>

<br/>
<hr/>


<form th:method="GET" th:action="@{/people/new}">
    <input type="submit" value="Create new person"/>
</form>
<form th:method="GET" th:action="@{/homePage}">
    <input type="submit" value="Back to home page"/>
</form>

</body>
</html>