<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<p th:text="${person.getFullName() + ', ' + person.getDateOfBirth()}">Value</p>
<hr/>

<div th:unless="${books.isEmpty()}">
    <h3>Books list:</h3>
    <div th:each="book : ${books}" >
        <a th:style="${book.isExpired()}? 'color:red' : 'color:black'" th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">user</a>
        <a th:if="${book.isExpired()}" th:text="${'- The book rent has expired, takeout date is - ' + book.getTakenAt().toLocaleString()}">Text</a>
    </div>
</div>

<p th:if="${books.isEmpty()}">This person doesn't hold any book</p>
<hr/>

<div>
    <form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
        <input type="submit" value="Edit"/>
    </form>
    <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
        <input type="submit" value="Delete person"/>
    </form>
    <form th:method="GET" th:action="@{/people}">
        <input type="submit" value="Back to people list"/>
    </form>
</div>

</body>
</html>