<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<div>
    <form method="post" action="/books/search">
        <label for="search">Enter the book's name to search</label>
        <input type="text" name="query" id="search">
        <input type="submit" value="Search!">
    </form>
</div>
<hr/>

<div th:if="${books.isEmpty()}">
    <p>There is no book with such name</p>
    <hr/>
</div>

<div th:unless="${books.isEmpty()}">
    <div th:each="book : ${books}">
        <p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">Value</p>
        <div th:unless="${book.getOwner()}">
            <p>This book is free now</p>
            <hr/>
        </div>
        <div th:if="${book.getOwner()}">
            <p th:text="${'The book is currently attached to ' + book.getOwner().getFullName()}">text</p>
            <hr/>
        </div>
    </div>
</div>

<div>
    <form th:method="GET" th:action="@{/books}">
        <input type="submit" value="Back to books list"/>
    </form>
</div>

</body>
</html>