<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">Value</p>
<hr/>

<div th:if="${book.getOwner()}">
    <p th:text="${'The book is currently attached to ' + person.getFullName()}">text</p>
    <form th:method="PATCH" th:action="@{/books/{id}/detach(id=${book.getId()})}">
        <input type="submit" value="Detach book"/>
    </form>
</div>

<div th:if="${people}">
    <p>This book is free now</p>
    <form th:method="PATCH" th:action="@{/books/{id}/attach(id=${book.getId()})}">
        <label for="person">Choose person</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}"
                    th:text="${person.getFullName()}">Name</option>
        </select>
        <input type="submit" value="Attach book"/>
    </form>
</div>

<hr/>
<div>
    <form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
        <input type="submit" value="Edit book"/>
    </form>
    <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
        <input type="submit" value="Delete book"/>
    </form>
    <form th:method="GET" th:action="@{/books}">
        <input type="submit" value="Back to books list"/>
    </form>
</div>


</body>
</html>